*{margin: 0;padding: 0;width:0 auto; font-size:16px;}
#wrapper{margin:0 auto; padding:5px; width:800px;}
.h2{margin:0 auto; padding:5px; text-align:center; width:790px;}
#geral{float:left; width:100%}
table{float:left; width:100%; border:1px solid #ccc; padding:10px;}
#tabela{float:left; width:800px;}
#tabelaEdicao{float:left; width:800px;}
#colunaNome{float:left; width:310px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#colunaEmail{float:left; width:370px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#colunaLink{float:left; width:460px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#colunaLinkEdit{float:left; width:782px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}

.L100{width:98%}

#colunaLimpaData{float:left; width:462px; height:67px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#atualizaData{float:left; width:152px; background-color:#FC0 !important; border:#F90 2px solid !important; margin-top:5px; height:37px; padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#colunaNomeTitulo{float:left; width:670px; padding:10px; background-color:#F8F8F8; border:1px solid #ccc}
#colunaNomeResidente{float:left; width:670px; padding:10px; background-color:#F8F8F8; border:1px solid #ccc}
#hora{float:left; width:70px;  padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#horaEquipe{float:left; width:190px;  padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#horaEquipeLinha{float:left; width:190px;  padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
#horaexcluir{float:left; width:15px;  padding:5px; background-color:#F8F8F8; border:1px solid #ccc}
.linha{float:left; width:800px;}
.agrupaData{float:left; width:690px; margin:5px;}
.input100{width:100%;}
.botao{padding:10px; background-color:#9EDAA9}
#tabelaEquipe{float:left; width:798px; border:1px solid #ccc; margin-bottom:10px;}
#equipeNome{float:left; width:778px; padding:10px; background-color:#F5F5F5}
#emailEquipe{float:left; width:378px; padding:10px; fon}

.fat{float:left; height:36px;}

.fatBotao{text-align:center;}

div #colunaNomeResidente:first-child {
  background-color: #FFE680;
}

select{padding:10px;}



ul{float:left; width:1000px}
li{float:left; list-style:none; padding:10px; background-color:#D3DEE2;}

#cardWrapper{margin:0 auto; padding:0px; width:420px;}
#card{float:left; width:420px; background-color:#F4E8FF; padding:10px;}
.campoInput{float:left; width:400px; margin-top:5px;}
.campoInput input{width:100%; margin-bottom:5px;}

body{background-image:url(../imgs/bg.jpg); background-repeat:no-repeat; background-position:0px 0px; background-size:cover}





html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

     #cadastrar {
        background-color: transparent;
        border: none;
        color: #fff;
        padding: 5px 5px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;}
     #entrar {
        background-color: transparent;
        border: none;
        color: #fff;
        padding: 5px 5px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;}		

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form #capsula {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box #capsula:hover {
  background: #1051b3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #3c95d6,
              0 0 25px #3c95d6,
              0 0 50px #3c95d6,
              0 0 100px #3c95d6;
}

.login-box #capsula span {
  position: absolute;
  display: block;
}

.login-box #capsula span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box #capsula span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box #capsula span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box #capsula span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/*CSS nova versão para centralizar objetos*/

div.CadLog  {
	margin-top:200px;
    height: 10em;
    position: relative; 
	width:250px;
	text-align:center;
	}
	
div.CadLog ul li a:link { text-decoration: none; }
div.CadLog ul li a:visited { text-decoration: none; }
div.CadLog ul li a:hover { text-decoration: none; }
div.CadLog ul li a:active { text-decoration: none; }


	
div.CadLog ul li.Log{
padding:25px;
font-size:36px;
width:100px;
vertical-align:middle;
border-radius: 15px 0px 0px 15px;
}
div.CadLog ul li.Cad{
padding:25px;
font-size:36px;
width:100px;
vertical-align:middle;
border-radius: 0px 15px 15px 0px;
	}

/*border-bottom-left-radius:15px; */
 /*
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
*/

	
.sombra{
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);	
	}